# pixi environments
.pixi/*
!.pixi/config.toml

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
*.egg-info/
dist/
build/
.eggs/

artifacts/
